#app {
  padding: 8px;
  height: 100vh;
  color: white;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  /* TODO: 배경 이미지 랜덤화(현재 더미) */
  background: linear-gradient(rgba(0, 0, 0, 0.125), rgba(0, 0, 0, 0.125)),
    url("./assets/background-img/fhd/2.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
}
